.list-wrapper {
    background: url("../Main/app-background.jpg");
    height: 100vh;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
    border-width: 7px;
}
.projects {
    margin-top: 35px;
}
.project_link {
    margin-top: 30px;
    color: white;
    background: grey;
    height: 45px;
    font-size: large;
    text-decoration: none;
    border-color: darkkhaki;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-left: none;
    border-right: none;
    padding: 5px;
}
.link-wrapper:hover {
    scale: 1.3;
}
.link-wrapper :hover {
    color: wheat;
}
.project-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
    padding-left: 100px;
    margin-top: 40px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}